h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

* {
    box-sizing: border-box;
}