:root {
    --accent-color: #4175EF;
    --footer-background: #7A9EF3;
    --text-color: #080303;
    --additionaltext-color: #FFFFFF;
    --icon-color: #FFFFFF;
}
body {
    font-family:  "Cantarell", sans-serif;
}