:root {
  --accent-color: #4175ef;
  --footer-background: #7a9ef3;
  --text-color: #080303;
  --additionaltext-color: #ffffff;
  --icon-color: #ffffff;
}
body {
  font-family: "Cantarell", sans-serif;
}

/* header */
.header-navition {
}
.header-page {
  line-height: 150%;
  color: var(--text-color);
}

.header-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  padding-top: 9px;
  align-items: center;
}

/* hero */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-box {
  display: flex;
  gap: 32px;
}

.hero-box div {
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.hero-text {
  line-height: 150%;
  color: var(--text-color);
  margin-bottom: 32px;
}

.hero-learn,
.hero-order {
  line-height: 150%;
  color: var(--text-color);
  padding: 12px 24px 12px 24px;
  border-radius: 6px;
}
.hero-order {
  margin-right: 16px;
  background-color: var(--accent-color);
  color: var(--additionaltext-color);
}
.hero-learn {
  border: 1px solid var(--text-color);
}

.hero-img {
  margin-top: 40px;
}

/* about */

.about {
  padding-top: 112px;
  padding-bottom: 112px;
}
.about-box {
  display: flex;
}

.about-logo {
  width: 48px;
  height: 44px;
}

.about-container {
  margin-right: 32px;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 24px;
  margin-top: 24px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}

/* expirience */

.expirience{
  padding-bottom: 112px;
  padding-top: 112px;
}
.expirience-subtext {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.expirience-item:first-child {
  display: flex;
  align-items: center;
  min-width: 625px;
}

.expirience-list {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.expirience-item {
  border: 2px solid var(--text-color);
  border-radius: 8px;
}

.expirience-box {
  padding: 24px;
}
.expirience-img {
}

.expirience-text {
  line-height: 150%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.expirience-title {
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
}

.expirience-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.expirience-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.expirience-information {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 40px;
}

.experience-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

/* precition */
.presicion{
padding-top: 112px;
padding-bottom: 112px;
}

.precition-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

.presicion-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.precition-information {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}

.precition-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

/* gallery */
.gallery{
  padding-top: 112px;
  padding-bottom: 112px;
}
.gallery-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text-color);
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--text-color);
}

/* feedbacks */
.feedbacks-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.feedbacks-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}

.feedbacks-names {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

/* price */
.price-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.price-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.price-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
}

.price-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--additionaltext-color);
}

/* footer */
.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--additionaltext-color);
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--additionaltext-color);
}

.container {
  width: 1344px;
  outline: solid red;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
